<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :pcs %><br>
    <%= f.number_field :pcs %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :amount_paid %><br>
    <%= f.text_field :amount_paid %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br>
    <%= f.date_select :payment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
